*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}

.toolbar {
    position: relative;
    left: 10%;
    width: 90%;
    height: 5%;
}
.toolbar h3 {
    position: absolute;
    left: 50%;
    top: 25%;
    margin: auto, auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select:none;
    border-radius: 10px;
}
.toolbar a {
    position: absolute;
    left: 95%;
    top: 40%;
    margin: auto, auto;
    
}
.toolbar #toolbar_edit {
    left:45%;
}
.toolbar #toolbar_username {
    left:85%;
}
.toolbar #toolbar_help {
    left:55%;
}

.toolbar #btn_test {
    left:20%;
}

#dialog_help li {
    text-align: left;
    margin: 0;
    padding: 0;
}

.wrap{
    position: absolute;
    top: 0;
    width: 10%;
    min-width:100px;
    height: 100%;
    background-color: #363a45;
}
.wrap .header{
    width: 100%;
    height: 65px;
    background-color: #44495a;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 65px;
}
.wrap .header span {
    text-align: center;
    user-select:none;
}
.wrap .header img{
    display: inline;
    float: right;
    margin-top: 17px;
    margin-right: 15px;
    cursor: pointer;
}
.wrap .btn_file {
    width: 100%;
    height: 30px;
}
.wrap .btn_file button {
    position: relative;
    margin: 5px, 5px 0;
    padding: auto;
    font-size: 15px;
    color: #fff;
    background-color: #3889d4;
    text-align: center;
    width: 50%;
    height: 30px;
    cursor: pointer;
}
#btn_add_folder {
    width: 50%;
    text-align: center;
    float: left;
}
#btn_add_file {
    width: 50%;
    float:right;
}
#showWrap {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    left: -100px;
    top: 20px;
}
.nav {
    width:90%;
    margin: 10px 5px 0;
}
.nav .list {
    margin-bottom: 5px;
    cursor: pointer;
}
.nav .list h2 {
    position: relative;
    padding: 15px 0;
    background-color: #3889d4;
    text-align: center;
    font-size: 16px;
    color: #fff;
    transition: .5s;
    user-select:none;
}
.nav .list h2.on {
    background-color: #393c4a;
}
.nav .list i {
    position: absolute;
    right: 10px;
    top: 16px;
    border: 8px solid transparent;
    border-left-color: #fff;/*triangle*/
    transform:rotate(0deg);
    transform-origin: 1px 8px;
    transition: .5s;
}
.nav .list i.on {
    transform:rotate(90deg);
}
.nav .hide {
    overflow: hidden;
    height: 0;
    transition: .5s;
}
.nav .hide h5 {
    padding: 10px 0;
    background-color: #282c3a;
    text-align: center;
    color:#fff;
    border-bottom:#42495d;
    user-select:none;
}

.MindMap {
    position: relative;
    left: 10%;
    width: 90%;
    height: 95%;
}
.page_open {
    position: absolute;
    top:5%;
    left: 60%;
    display: none;
    width: 45%;
    height: 95%;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.a-upload {
    padding: 4px 10px;
    margin: 5px;
    margin-left: 50px;
    text-align:center;
    height: 20px;
    width: 100px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #000;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    text-decoration: none;
    *zoom: 1
}

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.a-upload:hover {
    color: #ffffff;
    background: #3889d4;
    border-color: #3889d4;
    text-decoration: none
}
.MindMap select {
    margin-left:50px;
}